body h3 {
  text-decoration: underline; }

body .historia {
  align-self: center; }
  body .historia-foto {
    height: 70vh;
    width: auto; }
    body .historia-foto img {
      height: 100%;
      width: auto; }
  body .historia p {
    align-self: center;
    z-index: 2; }

body .deseo figure {
  width: 100%; }
  body .deseo figure img {
    width: 100%;
    height: auto; }

body .saga-image {
  border-radius: 10px;
  border: 1px black solid;
  background: radial-gradient(#FF7F50, #FF4500); }
  body .saga-image_character {
    width: 100%;
    height: auto; }
  body .saga-image_span {
    font-weight: 500; }

body .dragonBallZ-contenido {
  position: relative; }
  body .dragonBallZ-contenido #botonesZ {
    position: fixed;
    margin-right: 3rem;
    right: 2rem;
    top: 50%;
    bottom: 50%; }

body footer {
  margin-top: 5rem; }

body .db-personajes-boton {
  margin: 0.3rem; }

body .db-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .db-imagen-figura {
    height: 100%;
    width: auto; }
    body .db-imagen-figura_personaje {
      width: 100%;
      height: 100%;
      object-fit: contain; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  height: fit-content; }

body {
  overflow-x: hidden;
  /* Header */
  /* Secciones */ }
  body header {
    background: #FF5140; }
    body header figure {
      width: 20vw; }
      body header figure .logo {
        width: 80%;
        height: auto; }
    body header .navegacion {
      width: 70vw;
      background: transparent; }
  body footer {
    width: 100%;
    height: 20vh;
    position: relative;
    bottom: 0;
    background: #FF5140; }
    body footer figure .logoF {
      height: 100px;
      width: auto; }
    body footer figure .formularioAPI {
      width: 100%; }
  body .seccion1 figure, body .seccion2 figure {
    width: 100%; }
    body .seccion1 figure img, body .seccion2 figure img {
      width: 100%; }
  body .seccion1 p, body .seccion2 p {
    align-self: center; }
  body .seccion2 button {
    align-self: center; }
  body .seccion3 p {
    align-self: center; }
  body .seccion3 img {
    width: 90%;
    height: auto; }
  body .seccion3 button {
    text-align: center;
    align-self: center; }
  body .seccion4 figure, body .seccion5 figure, body .seccion6 figure {
    width: 100%; }
    body .seccion4 figure img, body .seccion5 figure img, body .seccion6 figure img {
      width: 100%;
      height: auto; }
  body .seccion4 p, body .seccion5 p, body .seccion6 p {
    align-self: center; }
  body .seccion4 button, body .seccion5 button, body .seccion6 button {
    align-self: center; }
