body h3 {
  text-decoration: underline; }

body .historia {
  align-self: center; }
  body .historia-foto {
    height: 70vh;
    width: auto; }
    body .historia-foto img {
      height: 100%;
      width: auto; }
  body .historia p {
    align-self: center;
    z-index: 2; }

body .deseo figure {
  width: 100%; }
  body .deseo figure img {
    width: 100%;
    height: auto; }

body .saga-image {
  border-radius: 10px;
  border: 1px black solid;
  background: radial-gradient(#FF7F50, #FF4500); }
  body .saga-image_character {
    width: 100%;
    height: auto; }
  body .saga-image_span {
    font-weight: 500; }

body .dragonBallZ-contenido {
  position: relative; }
  body .dragonBallZ-contenido #botonesZ {
    position: fixed;
    margin-right: 3rem;
    right: 2rem;
    top: 50%;
    bottom: 50%; }

body footer {
  margin-top: 5rem; }

body .saiyan {
  background: linear-gradient(#B8860B, #D2691E, #8B4513);
  color: white;
  font-weight: 500;
  font-size: 1em; }

body .freezer {
  background: radial-gradient(#C71585, #FFF, #C71585, #FFF);
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 1em; }

body .androide {
  background: linear-gradient(#B22222, #8B4513);
  color: white;
  font-weight: 500;
  font-size: 1em; }

body .cell {
  background: linear-gradient(#008000, #006400, #000);
  color: white;
  font-weight: 500;
  font-size: 1em; }

body .otroMundo {
  background: radial-gradient(#008000, #9ACD32, #4682B4);
  background-repeat: no-repeat;
  color: white;
  font-weight: 500;
  font-size: 1em; }

body .majinBoo {
  background: linear-gradient(#FF69B4, #FF1493);
  color: #FFD700;
  font-weight: 500;
  font-size: 1em; }

body .fusion {
  background: radial-gradient(#FFFF00, #ffff66);
  background-repeat: no-repeat;
  font-weight: 500;
  font-size: 1em; }

body .final {
  background: linear-gradient(to right, #FFF, #4169E1, #0000FF);
  font-weight: 500;
  font-size: 1em;
  color: #000; }

body #botonesZ #botonesZ1, body #botonesZ #botonesZ2, body #botonesZ #botonesZ3, body #botonesZ #botonesZ4, body #botonesZ #botonesZ5, body #botonesZ #botonesZ6, body #botonesZ #botonesZ7, body #botonesZ #botonesZ8 {
  font-weight: 400;
  font-size: 1rem; }

body .db-personajes-boton {
  margin: 0.3rem; }

body .db-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .db-imagen-figura {
    height: 100%;
    width: auto; }
    body .db-imagen-figura_personaje {
      width: 100%;
      height: 100%;
      object-fit: contain; }

body .dbzss-personajes-boton {
  margin: 0.3rem; }

body .dbzss-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .dbzss-imagen-figurass {
    height: 100%;
    width: auto; }
    body .dbzss-imagen-figurass_personajess {
      width: 100%;
      height: 100%;
      object-fit: contain; }

body .dbzsf-personajes-boton {
  margin: 0.3rem; }

body .dbzsf-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .dbzsf-imagen-figurasf {
    height: 100%;
    width: auto; }
    body .dbzsf-imagen-figurasf_personajesf {
      width: 100%;
      height: 100%;
      object-fit: contain; }

body .dbzsc-personajes-boton {
  margin: 0.3rem; }

body .dbzsc-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .dbzsc-imagen-figurasc {
    height: 100%;
    width: auto; }
    body .dbzsc-imagen-figurasc_personajesc {
      width: 100%;
      height: 100%;
      object-fit: contain; }

body .dbzsb-personajes-boton {
  margin: 0.3rem; }

body .dbzsb-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .dbzsb-imagen-figurasb {
    height: 100%;
    width: auto; }
    body .dbzsb-imagen-figurasb_personajesb {
      width: 100%;
      height: 100%;
      object-fit: contain; }

body .dbs-personajes-boton {
  margin: 0.3rem; }

body .dbs-imagen {
  height: 70vh;
  border: 2px solid black; }
  body .dbs-imagen-figura {
    height: 100%;
    width: auto; }
    body .dbs-imagen-figura_personaje {
      width: 100%;
      height: 100%;
      object-fit: contain; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

button {
  height: fit-content; }

body {
  overflow-x: hidden;
  width: 100vw;
  /* Header */
  /* Secciones */ }
  body header {
    background: #FF5140; }
    body header figure {
      width: 20vw; }
      body header figure .logo {
        width: 80%;
        height: auto; }
    body header .navegacion {
      width: 70vw;
      background: transparent; }
  body footer {
    width: 100vw;
    height: 20vh;
    position: relative;
    bottom: 0;
    background: #FF5140; }
    body footer figure .logoF {
      height: 100px;
      width: auto; }
    body footer figure .formularioAPI {
      width: 100%; }
    body footer input {
      height: 2rem;
      width: 10rem;
      margin: 1rem; }
  body .seccion1 figure, body .seccion2 figure {
    width: 100%; }
    body .seccion1 figure img, body .seccion2 figure img {
      width: 100%; }
  body .seccion1 p, body .seccion2 p {
    align-self: center; }
  body .seccion2 button {
    align-self: center; }
  body .seccion3 p {
    align-self: center; }
  body .seccion3 img {
    width: 90%;
    height: auto; }
  body .seccion3 button {
    text-align: center;
    align-self: center; }
  body .seccion4 figure, body .seccion5 figure, body .seccion6 figure {
    width: 100%; }
    body .seccion4 figure img, body .seccion5 figure img, body .seccion6 figure img {
      width: 100%;
      height: auto; }
  body .seccion4 p, body .seccion5 p, body .seccion6 p {
    align-self: center; }
  body .seccion4 button, body .seccion5 button, body .seccion6 button {
    align-self: center; }
