body{
    h3{
        text-decoration: underline;
    }
    .historia{
        align-self: center;
        &-foto{
            height: 70vh;
            width: auto;
            img{
                height: 100%;
                width: auto;
            }
        }

        p{
            align-self: center;
            z-index: 2;
        }
    }

    .deseo{
        figure{
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    .saga{
        &-image{
            border-radius: 10px;
            border: 1px black solid;
            background: radial-gradient(#FF7F50,#FF4500);
            &_character{
                width: 100%;
                height: auto;
            }
    
            &_span{
                font-weight: 500;
            }
        }
    }

    .dragonBallZ-contenido{
        position: relative;
        #botonesZ{
            position: fixed;
            margin-right: 3rem;
            right: 2rem;
            top: 50%;
            bottom: 50%;
        }
    }

    footer{
        margin-top: 5rem;
    }

}