@import "historia.scss";
@import "personajes.scss";

$color1: #FF914D;
$color2: #E8963A;
$color3: #E8633A;
$color4: #FFBB40;
$color5: #FF5140;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

button{
    height: fit-content;
}

body{
    overflow-x: hidden;
    width: 100vw;

    /* Header */
    header{
        background: $color5;
        figure{
            width: 20vw;
            .logo{
                width: 80%;
                height: auto;
            }
        }

        .navegacion{
            width: 70vw;
            background: transparent;
        }
    }

    footer{
        width: 100vw;
        height: 20vh;
        position: relative;
        bottom: 0;
        background: $color5;
        figure{
            .logoF{
                height: 100px;
                width: auto;
            }

            .formularioAPI{
                width: 100%;
            }
        }

        input{
            height: 2rem;
            width: 10rem;
            margin: 1rem;
        }
    }

    /* Secciones */

    .seccion1, .seccion2{

        figure{
            width: 100%;
            img{
                width: 100%;
            }
        }

        p{
            align-self: center;
        }
    }

    .seccion2{
        button{
            align-self: center;
        }
    }

    .seccion3{
        p{
            align-self: center;
        }
        img{
            width: 90%;
            height: auto;
        }
        button{
            text-align: center;
            align-self: center;          
        }
    }

    .seccion4, .seccion5, .seccion6{        
        figure{
            width: 100%;
            img{
                width: 100%;
                height: auto;
            }
        }
        p{
            align-self: center;
        }
    
        button{
            align-self: center;
        }
    }
}